<div class="footer-container">
<section class="footer">
    <div class="fylo-footer"> 
        <div class="footer-logo">
            <img class="logo-footer" [src]="['assets/images/logo.svg']" alt="footer logo">
        </div>
        <div class="footer-row">
            <li class="footer-list">
                <img class="social-img" [src]="['assets/images/icon-phone.svg'] " alt="telephone icon">
                <span class="social-text">Phone: +1-543-123-4567</span>
            </li>
            <li class="footer-list">
                <img class="social-img" [src]="['assets/images/icon-email.svg'] " alt="telephone icon">
                <span class="social-text">example@fylo.com</span>
            </li>
        </div>

    </div>
    <div class="about-list">
        <ul>
            <li class="footer-list"><span class="social-text" >About us</span> </li>
            <li class="footer-list"><span class="social-text" >Job</span> </li>
            <li class="footer-list"><span class="social-text" >Press</span> </li>
            <li class="footer-list"><span class="social-text" >blog</span> </li>
        </ul>

    </div>
    <div class="contact-list">
        <ul>
            <li class="footer-list"><span class="social-text">Contact us </span></li>
            <li class="footer-list"><span class="social-text"> Terms</span></li>
            <li class="footer-list"><span class="social-text">Privacy </span></li>
        </ul>

    </div>
    <div class="social-icon">
        <ul class="icons">
            <li class="footer-list icons-footer"><i class="social-text fab fa-facebook-f"></i></li>
            <li class="footer-list icons-footer"><i class="social-text fab fa-twitter"></i></li>
            <li class="footer-list icons-footer"><i class="social-text fab fa-instagram"></i></li>
        </ul>

    </div>
</section>
</div>