<section class="banner">
<div class="banner-content">
    <div class="banner-left-box">
    <h1 class="banner-heading">All your files in one secure location, accessible anywhere.</h1>
    <p class="banner-text">Fly stores your most important siles in one secure location, Access
        them wherever you need, share and collaborate with friends, family,
        and co-workers.</p>
        <form class="form-box" action="">
        <input class="banner-input" type="email" placeholder="Enter your email" required>
        <button class="banner-button">Get started</button>
        </form>
    </div>
</div>
<div class="banner-image">
    <img class="illustration-1-img" [src]="['assets/images/illustration-1.svg']" alt="illustration 1">
</div>
</section>
