<main class="main">
  <app-navbar class="main__navigation"></app-navbar>
  <app-banner class="main__primary"></app-banner>
  <app-banner-secondary class="main__secondary"></app-banner-secondary>
  <app-tertiary class=""></app-tertiary>
  <!-- <app-primary class="main__primary"></app-primary>
  <img class="main__accent-image" [src]="['assets/images/bg-curve-mobile.svg']" alt="accent">
  <app-secondary class="main__secondary"></app-secondary>
  <app-tertiary class="main__tertiary"></app-tertiary> -->
  <app-footer class="main__footer"></app-footer> 
</main>