<section class="tertiary">
    <div class="tertiary-content">
        <h2 class="tertiary-heading">Get early access today</h2>
        <p class="tertiary-text">It only takes a minute to sign up and our free starter tier is extremely generous. if you have any questions,
            our support team would be happy to help you.</p>
    </div>
    <div class="form-box">
        <input class="tertiary-input" type="email" placeholder="email.example.com">
        <button class="tertiary-button">Get Started For Free</button>
    </div>
</section>